<h1>Edit <%= blog.title %></h1>
<form action="/blog/<%= blog._id %>?_method=PUT" method="POST">
  <label>Title</label>
  <input type="text" name="blog[title]" value="<%= blog.title %>" /><br />
  <label>Image</label>
  <input type="text" name="blog[image]" value="<%= blog.image %>" /><br />
  <label>Image Description</label>
  <input
    type="text"
    name="blog[imageDesc]"
    value="<%= blog.imageDesc %>"
  /><br />
  <label>Tags</label>
  <input type="text" name="blog[tag]" value="<%= blog.tag %>" /><br />
  <label>Post Body</label>
  <textarea name="blog[body]"><%= blog.body %></textarea>
  <button>Edit</button>
</form>
